* {
    margin: 0;
    padding: 0;
}

.matchup, .container2, .comPoints, .playerPoints, .buttons {
    font-size: 24px;
    font-weight: 200;
}

div, h2 {
    padding: 20px;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; 
}

.container2, .choices {
    display: flex;
    flex-direction: row;
    gap: 24px;
    cursor: pointer;
}

.container3 {
    display: flex;
    gap: 72px;
}

.container3 .player {
    text-align: center;
    height: 30vh;
    width: 20vw;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choices button:hover, .container2 button:hover {
    background-color: #e0e0e0;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.choices button.active, .container2 button.active {
    background-color: #d0d0d0;
    border-radius: 10px;
}
